######################
# BASH Script files  #
######################
*.sh

######################
# Visor              #
######################
visor*
dist/visor*
dashboard/fa*
dashboard/mp3*
dashboard/js/components/fa*

######################
# Mac Hidden Files   #
######################
.DS_Store