body {
	overflow-y: auto;
}

div[welcome] {
	width: 800px;
	display: table;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 4px;
	margin: 32px auto;
	padding-bottom: 32px;
}

div[welcome] > label {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	padding: 32px;
}

div[welcome] > div {
	padding: 0px 32px;
	text-align: justify;
}

panel {
	display: inline-block;
	padding: 32px;
	width: 50%;
	margin: 0px;
	float: left;
}

panel+panel {
	border-left: solid 1px #eee;
	float: right;
}

panel p {
	text-align: justify;
}

input[code] {
	font-size: 32px !important;
	height: 48px !important;
	text-align: center;
	color: #999 !important;
	text-transform: lowercase;
}

ng-view {
	position: relative;
}

@media (max-width: 767px) {
	div[welcome] {
		width: 80%;
	}

	panel {
		width: 100%;
	}

	panel+panel {
		border-left: none;
		border-top: solid 1px #eee
	} 
}