body {
	overflow-y: auto;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

panel {
	padding: 32px;
}

input[code] {
	height: 48px !important;
	font-size: 26px !important;
	width: 100%;
	color: #999 !important;
	border-radius: 0px;
}

input[code]:focus {
	width: 100%;
	text-transform: lowercase;
}

input[login] {
	height: 48px !important;
	font-size: 26px !important;
	width: 100%;
	color: #999 !important;
	border-radius: 0px;
}

input[login]:focus {
	width: 100%;
	text-transform: lowercase;
}

ng-view {
	position: relative;
}

.loginbox{
	margin: 30px auto;
}

.form-group{
	margin: 50px 20px;
}

.help-row{
	text-align: center;
}

.help-row a{
	text-decoration: none;
	color: #000;
	color: #fff;
}

.help-row a:hover{
	text-decoration: none;

}

.help-row button{
	margin: 2px auto;
}ser
