body {
	overflow-y: auto;
	background-color: #eee;
	margin: 10% auto;
}

div[welcome] {
	width: 400px;
	border-radius: 4px;
	margin: 32px auto;
	padding-bottom: 32px;
}

div[welcome] img {
	max-width: 400px;
}

div[login] {
	max-width: 400px;
	margin: 0 auto;
}

div[welcome] > div {
	padding: 32px;
	text-align: justify;
}

.loginbox {
	max-width: 450px; /* 400px max-width for content plus 25+25px padding */
	border-radius: 0px;
	border: 1px solid #999;
	background: #fff;
	padding: 25px;
	margin: 0 auto;
	min-height: 631px;
}


panel {
	display: inline-block;
	padding: 32px;
	width: 100%;
	margin: 0px;
	float: left;
}

panel+panel {
	border-left: solid 1px #eee;
	float: right;
}

panel p {
	text-align: justify;
}

input[code] {
	height: 48px !important;
	font-size: 26px !important;
	width: 100%;
	color: #999 !important;
	border-radius: 0px;
}

input[code]:focus {
	width: 100%;
	text-transform: lowercase;

}

input[login] {
	height: 48px !important;
	font-size: 26px !important;
	width: 100%;
	color: #999 !important;
	border-radius: 0px;
}

input[login]:focus {
	width: 100%;
	text-transform: lowercase;

}

ng-view {
	position: relative;
}

@media (max-width: 767px) {
	div[welcome] {
		width: 80%;
	}

	panel {
		width: 100%;
	}

	panel+panel {
		border-left: none;
		border-top: solid 1px #eee
	} 
}

.nav-pills {
	padding: 0 32px;
}

.nav-pills > li.active > a {
	background-color: #00a0dc !important;
	border-radius: 0px;
	text-transform: uppercase;
}

.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover, {
	border-radius: 0px;
}

.nav-pills > li > a {
	border-radius: 0px;
	color: #00a0dc;
	text-transform: uppercase;
	cursor: pointer;
}